<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        YTRSS
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-solid fa-inbox-in nav-icon"></i>
                            <p>Subscriptions</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-solid fa-inbox-out nav-icon"></i>
                            <p>Destinations</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{{ base_url}}/api/v1/swagger" class="nav-link" target="_blank">
                    <i class="fa fa-solid fa-inbox-in nav-icon"></i>
                    <p>api (swagger)</p>
                </a>
            </li>
            <li class="nav-header">EXTERNAL</li>
            <li class="nav-item">
                <a href="https://github.com/rafyco/ytrss" class="nav-link" target="_blank">
                    <i class="fa fa-brands fa-github nav-icon"></i>
                    <p>Github</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://ytrss.readthedocs.io/en/latest/" class="nav-link" target="_blank">
                    <i class="fa fa-solid fa-book nav-icon"></i>
                    <p>Documentation</p>
                </a>
            </li>
        </ul>
    </nav>
</div>