---
name: Python package checks

on: # yamllint disable-line rule:truthy
  push:
    branches-ignore:
      - master
      - main

jobs:
  style:
    name: Checks code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Check style
        run: |
          tox -e style

  typing:
    name: Checks types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Checks typping
        run: |
          tox -e typing

  unittests:
    name: Runs unittests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: ["3.10", "3.11", "3.12"]
    needs:
      - style
      - typing
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.versions }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.versions }}
      - name: Install tox
        run: pip install tox
      - name: Test with pytest
        run: |
          tox -e unittests

  documentation:
    name: Build documentation
    runs-on: ubuntu-latest
    needs:
      - style
      - typing
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Build documentation
        run: |
          tox -e documentation
      - name: Archive documentation
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: build/sphinx/html/

  execute:
    name: Check terminal program
    runs-on: ubuntu-latest
    needs:
      - unittests
    strategy:
      fail-fast: false
      matrix:
        versions: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.versions }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.versions }}
      - name: Install tox
        run: pip install tox
      - name: Run console program
        run: |
          tox -e execute

  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    continue-on-error: true
    if: ${{ false }}
    needs:
      - execute
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: pip install tox
      - name: Run console program
        run: |
          tox -e integration

  analyze:
    name: CodeQL Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: "python"
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
