---
name: Repos synchronization

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "26 5 10 * *"
  push:
    branches-ignore:
      - master
      - main

env:
  SRC_SSH_PRIVATEKEY_ABS_PATH: /tmp/.ssh/id_rsa_actions_template_sync

jobs:
  prepare_synchronization:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Check synchronization environment
    runs-on: ubuntu-latest
    steps:
      - name: Checks synchronization environment
        run: |
          test "${{ secrets.SOURCE_REPO_SSH_PRIVATE_KEY }}" != ""

  synchronization:
    name: Synchronization with template
    runs-on: ubuntu-latest
    needs:
      - prepare_synchronization
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        repo:
          - "git@github.com:rafyco/template-python-package.git"
    env:
      TEMPLATE_REMOTE: template
      TEMPLATE_BRANCH: main

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: ssh keys preparation
        run: |
          mkdir -p /tmp/.ssh
          echo "${{ secrets.SOURCE_REPO_SSH_PRIVATE_KEY }}" > "${SRC_SSH_PRIVATEKEY_ABS_PATH}"
          chmod 600 "${SRC_SSH_PRIVATEKEY_ABS_PATH}"
      - name: Check synchronization
        uses: rafyco/synchronized-with@main
        with:
          ssh_privatekey: ${SRC_SSH_PRIVATEKEY_ABS_PATH}
          remote_repo: ${{ matrix.repo }}
