---
name: Package auto upgrade

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "ytrss/core/version.py"
      - "docs/"
      - ".github/"
      - "*.rst"
  workflow_dispatch:
    inputs:
      upgrade-type:
        type: choice
        description: Upgrade type
        options:
          - rc
          - patch
          - minor
          - major
        default: rc

permissions:
  contents: write

jobs:
  CI-upgrade:
    runs-on: ubuntu-latest
    outputs:
      git_tag: ${{ steps.vars.outputs.git_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Upgrade version
        id: vars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          MAJOR="$(sed 's/\s*self\._major\s*=\s*\([0-9]*\)\s/\1/gp;d' ytrss/core/version.py)"
          MINOR="$(sed 's/\s*self\._minor\s*=\s*\([0-9]*\)\s/\1/gp;d' ytrss/core/version.py)"
          PATCH="$(sed 's/\s*self\._patch\s*=\s*\([0-9]*\)\s/\1/gp;d' ytrss/core/version.py)"
          RC="$(sed 's/\s*self\._rc\s*=\s*\([0-9]*\)\s/\1/gp;d' ytrss/core/version.py)"
          
          UPGRADE_TYPE="${{ github.event.inputs.upgrade-type || 'rc' }}"
          
          case "${UPGRADE_TYPE}" in
             "major")
                NEW_MAJOR=$(( MAJOR + 1 ))
                sed -i "s/self\._major = [0-9]*/self._major = ${NEW_MAJOR}/" ytrss/core/version.py
                sed -i "s/self\._minor = [0-9]*/self._minor = 0/" ytrss/core/version.py
                sed -i "s/self\._patch = [0-9]*/self._patch = 0/" ytrss/core/version.py
                sed -i "s/self\._rc = [0-9]*/self._rc = 0/" ytrss/core/version.py
                ;;
             "minor")
                NEW_MINOR=$(( MINOR + 1 ))
                sed -i "s/self\._minor = [0-9]*/self._minor = ${NEW_MINOR}/" ytrss/core/version.py
                sed -i "s/self\._patch = [0-9]*/self._patch = 0/" ytrss/core/version.py
                sed -i "s/self\._rc = [0-9]*/self._rc = 0/" ytrss/core/version.py
                ;;
             "patch")
                NEW_PATCH=$(( PATCH + 1 ))
                sed -i "s/self\._patch = [0-9]*/self._patch = ${NEW_PATCH}/" ytrss/core/version.py
                sed -i "s/self\._rc = [0-9]*/self._rc = 0/" ytrss/core/version.py
                ;;
             *)
                NEW_RC=$(( RC + 1 ))
                sed -i "s/self\._rc = [0-9]*/self._rc = ${NEW_RC}/" ytrss/core/version.py
                ;;
          esac    
          
          GIT_TAG="$(python ./setup.py --version)"
          # spellcheck disable=SC2001
          echo "git_tag=${GIT_TAG}" >> $GITHUB_OUTPUT
      - name: Build Package
        run: |
          pip install build
          python -m build
      - name: Commit massage
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          export GIT_TAG=${{ steps.vars.outputs.git_tag }}
          git commit -a -m "release: Upgrade to ${GIT_TAG} version"
          git tag v${GIT_TAG} -a -m "Upgrade to ${GIT_TAG} version"
          git push origin HEAD:${{ github.ref_name }} --tags

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ytrss-package
          path: dist/
          retention-days: 1

  PyPi-deploy:
    runs-on: ubuntu-latest
    needs: [CI-upgrade]
    environment:
      name: pypi
      url: https://pypi.org/project/ytrss/
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: ytrss-package
          path: dist/
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/

  Docker-deploy:
    runs-on: ubuntu-latest
    needs: [CI-upgrade]
    environment:
      name: dockerhub
      url: https://hub.docker.com/repository/docker/rafyco/ytrss/general
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
                ${{ secrets.DOCKERHUB_USERNAME }}/ytrss:latest
                ${{ secrets.DOCKERHUB_USERNAME }}/ytrss:${{ needs.CI-upgrade.outputs.git_tag }}
