---
name: Package auto upgrade

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - main
    paths-ignore:
      - "ytrss/core/version.py"
      - "docs/"
      - ".github/"
      - "*.rst"

jobs:
  CI-upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
      - name: Upgrade version
        id: vars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RC="$(sed 's/\s*self\._rc\s*=\s*\([0-9]*\)\s/\1/gp;d' ytrss/core/version.py)"
          NEW_RC=$(( RC + 1 ))

          sed -i "s/self\._rc = [0-9]*/self._rc = ${NEW_RC}/" ytrss/core/version.py

          GIT_TAG="$(python ./setup.py --version)"

          # spellcheck disable=SC2001
          echo ::set-output name="git_tag::${GIT_TAG}"
      - name: Commit massage
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          export GIT_TAG=${{ steps.vars.outputs.git_tag }}
          git commit -a -m "Upgrade to ${GIT_TAG} version"
          git tag v${GIT_TAG} -a -m "Upgrade to ${GIT_TAG} version"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  PyPi-deploy:
    runs-on: ubuntu-latest
    needs: [CI-upgrade]
    environment:
      name: pypi
      url: https://pypi.org/p/ytrss
    permissions:
      id-token: write
      contents: read
    steps:
        - uses: actions/checkout@v1
        - name: Set up Python 3.10
          uses: actions/setup-python@v1
          with:
            python-version: "3.10"
        - name: Build distribution
          run: python setup.py sdist
        - name: Publish package
          uses: pypa/gh-action-pypi-publish@release/v1

  Docker-deploy:
    runs-on: ubuntu-latest
    needs: [CI-upgrade]
    environment:
      name: dockerhub
      url: https://hub.docker.com/repository/docker/rafyco/ytrss/general
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"

      - name: Get version
        id: vars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          GIT_TAG="$(python ./setup.py --version)"

          # spellcheck disable=SC2001
          echo ::set-output name="git_tag::${GIT_TAG}"
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
                ${{ secrets.DOCKERHUB_USERNAME }}/ytrss:latest
                ${{ secrets.DOCKERHUB_USERNAME }}/ytrss:${{ steps.vars.outputs.git_tag }}
